// — 整个滚动条
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:active {
  width: 12px;
}

body::-webkit-scrollbar {
  width: 12px;
}

// — 滚动条上的按钮 (上下箭头)
::-webkit-scrollbar-button {
}

// — 滚动条上的滚动滑块
::-webkit-scrollbar-thumb {
  border-radius: 24px;
  background: #BABABA;// #BABABA
}

::-webkit-scrollbar-thumb:hover {
  background: #8C8C8C; // #8C8C8C
}

::-webkit-scrollbar-thumb:active {
  background: #5d5d5d; // #5d5d5d
}

// — 滚动条轨道
::-webkit-scrollbar-track {
}

::-webkit-scrollbar-track:active {
  background: #E9E9E9; // #E9E9E9
}
// — 滚动条没有滑块的轨道部分
::-webkit-scrollbar-track-piece {
}
// — 当同时有垂直滚动条和水平滚动条时交汇的部分
::-webkit-scrollbar-corner {
}
// — 某些元素的corner部分的部分样式(例:textarea的可拖动按钮)
::-webkit-resizer {
}
